{% extends 'main.html' %}
{% block content %}
<div class="container-fluid" id="report">
    <div class="row mb-4">
        <div class="col-12">
            <h2 class="mt-4">Report</h2>
        </div>
    </div>
    
    <div class="row mb-4">
        <div class="col-md-4 mb-2">
            <input type="date" class="form-control" id="start_date" name="start_date" value="{{ start_date }}">
        </div>
        <div class="col-md-4 mb-2">
            <input type="date" class="form-control" id="end_date" name="end_date" value="{{ end_date }}">
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary btn-block">Search</button>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Sales</h5>
                    <p class="card-text">Ksh{{ total_sales }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Items Sold</h5>
                    <p class="card-text">{{ total_items_sold }}</p>
                </div>
            </div>
        </div>
    </div>

    {% comment %} <div class="row mb-4">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Reorder</th>
                            <th>Item No.</th>
                            <th>Name</th>
                            <th>Manufacturer</th>
                            <th>Description</th>
                            <th>Cost per Item</th>
                            <th>Stock Quantity</th>
                            <th>Inventory Value</th>
                            <th>Reorder Level</th>
                            <th>Days per Reorder</th>
                            <th>Item Reorder Quantity</th>
                            <th>Item Discontinued?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in inventory_items %}
                            <tr>
                                <td>{{ item.reorder_status }}</td>
                                <td>{{ item.item_no }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.manufacturer }}</td>
                                <td>{{ item.description }}</td>
                                <td>${{ item.cost_per_item }}</td>
                                <td>{{ item.stock_quantity }}</td>
                                <td>${{ item.inventory_value }}</td>
                                <td>{{ item.reorder_level }}</td>
                                <td>{{ item.days_per_reorder }}</td>
                                <td>{{ item.item_reorder_quantity }}</td>
                                <td>{{ item.item_discontinued }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div> {% endcomment %}

    <div class="row mb-4">
        <div class="col-md-6 mb-2">
            <a href="{% url 'salesreportpdf' %}?start_date={{ start_date }}&end_date={{ end_date }}" class="btn btn-secondary btn-block">Download as PDF</a>
        </div>
        <div class="col-md-6 mb-2">
            <a href="{% url 'emailsalesreport' %}?start_date={{ start_date }}&end_date={{ end_date }}" class="btn btn-secondary btn-block">Email Report</a>
        </div>
    </div>
</div>
{% endblock %}
