body.light-theme {
    background-color: #f8f9fa;
    color: #212529;
}

body.dark-theme {
    background-color: #343a40;
    color: #f8f9fa;
}

body.dark-theme .sidebar {
    background-color: #212529;
    color: #f8f9fa;
}

body.dark-theme .nav-link {
    color: #f8f9fa;
}

body.dark-theme .nav-link.active {
    color: #007bff;
}

body.dark-theme .card {
    background-color: #495057;
    color: #f8f9fa;
}
.sidebar-sticky{
    position: fixed;
    width: 250px;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 100;
    transition: width 300ms;
}
#sidebar-menu{
    font-size: 1.5rem;
    width: 100%;
}
/* .sidebar .sidebar-heading {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
} */

/* .sidebar .nav-link {
    width:100%;
    margin-bottom: 1.7rem;
    padding-left: 2rem;
    font-size: 3rem;
}

.sidebar .nav-link i {
    font-size:1.5rem;
} */

/* .sidebar .nav-link.active {
    background:red;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:blanchedalmond;
    border-radius: 30px 0px 0px 30px;
} */
.card {
    text-align: center;
}

.card .card-title {
    margin-bottom: 0.5rem;
}

.product-catalog {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #dee2e6;
    padding: 10px;
    border-radius: 5px;
}

.product-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    cursor: pointer;
}

.product-item img {
    margin-right: 10px;
    border-radius: 5px;
}

.product-item:hover {
    background-color: #f8f9fa;
}

#cartSummary {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #dee2e6;
    padding: 10px;
    border-radius: 5px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.cart-item img {
    margin-right: 10px;
    border-radius: 5px;
}

.cart-item .item-details {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
.table-responsive {
    max-height: 300px;
    overflow-y: auto;
}

@media (max-width: 767.98px) {
    .sidebar-sticky{
        width: 150px;
        height: 100lvh;
        display: block;
        background: seashell;
        position: fixed;
        top: 3rem;
        bottom: 0;
        left: -150px;
        z-index: 100;
        transition: 1s;
        /* padding: 48px 0 0;
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
        transition: width 0.3s, transform 0.3s; */
    }
    #toggleSidebar{
         display: block;
         background: yellow;
    }
    /* .sidebar.active {
        display: block;
        transform: translateX(0);
        width: 80%;
        position: fixed;
        z-index: 2000;
        height: 100%;
    }
    .sidebar-collapsed {
        width: 80%;
    } */
    main {
        margin-left: 20px;
    }
    .btn-toggle-sidebar {
        display: block;
    }
    .btn-toggle-sidebar-mobile {
       
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 2001;
    }
}
