<div class="sidebar-sticky">
    <h5 class="sidebar-heading text-center">STORE POS</h5>
    <ul class="nav flex-column" id="sidebar-menu">
        <li class="nav-item">
            <a class="nav-link active" href="dashboard.html"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="products.html"><i class="fas fa-box"></i> Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="inventory.html"><i class="fas fa-warehouse"></i> Inventory</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pos.html"><i class="fas fa-cash-register"></i> POS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="report.html"><i class="fas fa-chart-line"></i> Reports</a>
        </li>
    </ul>
</div>