<div class="sidebar-sticky">
    <h5 class="sidebar-heading text-center">STORE POS</h5>
    <ul class="nav flex-column" id="sidebar-menu">
        <li class="nav-item">
            <a class="nav-link" href="{% url "dashboard" %}"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "product" %}"><i class="fas fa-box"></i> Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "inventory" %}"><i class="fas fa-warehouse"></i> Inventory</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "pospage" %}"><i class="fas fa-cash-register"></i> POS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "salesreport" %}"><i class="fas fa-chart-line"></i> Reports</a>
        </li>
    </ul>
</div>